@page "/danmu"
@inject IJSRuntime JsRuntime;

<style>
    #wrapper {
      height: 400px;
      width: 700px;
      position: relative;
      overflow: hidden;
      background: url(http://www.drama-asia.se/wp-content/uploads/2016/06/14375197_1349947520504_800x600.jpg);
      
      color: #ffffff82;
      font-size: 14px;
      text-shadow: 1px 1px #000;
    }
    .right {
      position: absolute;
      visibility: hidden;
      white-space: nowrap;
      /*left: 700px;*/
      transform: translateX(700px);
    }
    .left {
      position: absolute;
      white-space: nowrap;
      user-select: none;
      transition: transform 7s linear; /* 时间相同 越长的弹幕滑动距离越长 所以越快~ */
    }
    input {
      position: absolute;
      bottom: 10px;
      left: 150px;
      width: 300px;
      height: 26px;
    }

    button {
      position: absolute;
      bottom: 8px;
      left: 476px;
      width: 100px;
      height: 38px;
      border-radius: 10px;
      font-size: 16px;
    }
  </style>


<h1>實現彈幕效果</h1>
<div id="wrapper">
  <input type="text" @bind="myText">
  <button>發送&nbsp;&nbsp;</button>
</div>
  <button @onclick=MyClick>INIT</button>

@code {


    public string myText { get; set; }

    private async Task MyClick()
    {
        //await JsRuntime.InvokeVoidAsync("alertMessage","顯示訊息!!!!");
        
        await JsRuntime.InvokeVoidAsync("getDanmu",myText);
    }

}
